  
  
  <h4>New Sub Goal</h4>
  <form class="subgoal-form">
    <div class="form-group">
      <label for="subgoa">Name:</label>
      <input type="text" class="subgoa-name" name="name" id="{{{dataValues.id}}}"  data-id="{{{dataValues.id}}}">
      {{!-- <label for="subgoa">New Sub Goal GoalID:</label>
            <input type="text" id="subgoa-id" name="id"> --}}
    </div>
    <button type="submit" class="subclass-btn waves-effect waves-light btn" id="{{{dataValues.id}}}"  data-id="{{{dataValues.id}}}">Add Sub Goal</button>
  </form>