<li class="collection-item mary">
	{{{dataValues.name}}}
	{{{dataValues.id}}}
	<button class="timer-button start-timer-button deep-purple btn-small" data-reference-subgoal-id={{{dataValues.id}}}><i class="material-icons">add_alarm</i></button>
</li>