<li class="collection-item mary">
	{{{dataValues.name}}}
<<<<<<< HEAD
	<button class="timer-button start-timer-button" data-reference-subgoal-id={{{dataValues.id}}}>Start</button>
=======
	{{{dataValues.id}}}
	<button class="timer-button start-timer-button deep-purple btn-small" data-reference-subgoal-id={{{dataValues.id}}}><i class="material-icons">add_alarm</i></button>
>>>>>>> dbde0a8fc00a951f1a457201bf68c103ce0bb649
</li>