<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Logged Out</h2>
       
        <br/>
        <p>Log in <a href="/login" class="back-to-login">here</a></p>
      </div>
    </div>
  </div>