{{!-- Nav Bar --}}
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">Logo</a>
    <ul id="nav-mobile" class="right">
      {{#each Goals}}
      <li><a class="home-btn" id={{dataValues.UserId}}>Home</a></li>
      {{/each}}
      {{!-- <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li> --}}

    </ul>
  </div>
</nav>

<div class="task-popup">
  <div class="task-popup-content">
    <button class="task-close">X</button>
    <p class="task-message">How did it go? Write some comments below</p>
    <input type="text" id="tas-comments">
    <button class="submit-task-button">Submit</button>
  </div>
</div>

{{!-- Popup window when 'add a new comment' is clicked --}}
<div class="popup-add-new-comment">
    <div class="popup-content">
      <button class="close">X</button>
      <p class="task-message">New Comment:</p>
      <input type="text" id="new-comment">
      <button class="submit-comment-button">Add Comment</button>
    </div>
  </div>

  {{!-- Popup window when 'add a new comment' is clicked --}}
  <div class="popup-edit-comments">
    <div class="popup-content">
      <button class="close">X</button>
      <p class="task-message">Edit Comment:</p>
      <input type="text" id="edit-comment">
      <button class="edit-comment-button">Submit</button>
    </div>
  </div>

  {{!-- Popup window when 'Subgoal' is clicked [edit] --}}
  <div class="popup-edit-subgoals">
    <div class="popup-content">
      <button class="close">X</button>
      <p class="task-message">Edit Subgoal:</p>
      <input type="text" id="edit-subgoal">
      <button class="edit-subgoal-button">Submit</button>
    </div>
  </div>

{{!-- Main --}}

<div class="container">

  {{!-- This works!!! --}}
  <ul>
    {{#each Goals}}
    <li>
      <h1>{{dataValues.name}}</h1>
    </li>
    {{/each}}
  </ul>

  {{!-- ----------------------------------------------- --}}
  {{!-- Attempt to do Subgoals.Goals.dataValues.name --}}
  {{!-- <ul>
    {{#each Subgoals}}
    {{> subGoals/subGoal-second-block}}
    {{/each}}
  </ul>
   --}}

  {{!-- ----------------------------------------------- --}}

  {{!-- <h2>list of all goals (for testing purposes)</h2> --}}
  <div class="row">
    <ul>
      {{#each Subgoals}}
      {{> goals/second-goal-block}}
      {{/each}}
    </ul>
  </div>

  {{!-- Colin Work Station --}}
  {{!-- Create a New Sub Goal Option --}}

  <ul>
    {{#each Goals}}
    {{> subGoals/subGoal-third}}
    {{/each}}
  </ul>

  {{!--     
  <h4>New Sub Goal</h4>
  <form class="subgoal-form">
    <div class="form-group">
      <label for="subgoa">Name:</label>
      <input type="text" class="subgoa-name" name="name" data-id="{{{dataValues.id}}}"> --}}
  {{!-- <label for="subgoa">New Sub Goal GoalID:</label>
            <input type="text" id="subgoa-id" name="id"> --}}
  {{!-- </div>
    <button type="submit" class="subclass-btn">Add Sub Goal</button>
  </form> --}}

  {{!-- END Colin Work Station --}}


  <br><br><br>
  <div class="ct-chart ct-perfect-fourth" id="time-each-day"></div>



  {{!-- Carousel to put cards into? --}}
  {{!-- <div class="carousel" id="demo-carousel">

    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>

  </div> --}}



  {{!-- This functionality works! However, when I change the button to the materialze btn, function gets weird (loses name) --}}
  {{!-- <h5>Add a goal</h5>
  <form class="goal-form">

    <div class="form-group">
      <label for="goa">New Goal Name:</label>
      <input type="text" id="goa" name="name">
    </div>
    <a class="waves-effect waves-light btn"></a>
    <button type="submit">Add Goal</button>
  </form> --}}


  {{!-- <h5>Add a Task</h5>
  <form class="subgoal-form">
    <div class="form-group">
      <label for="comments">New Comment:</label>
      <input type="text" class="comments" data-id="{{{id}}}">
    </div>

    <button type="submit" class="task-submit">Submit</button>
  </form> --}}