.add-subgoal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.add-subgoal-container h1 {
    color: black;
    font-size: 36px;
    margin-bottom: 40px;
}

.comment-text {
    color: rgb(245, 131, 131);
}

.submit-subgoal-button
.submit-task-button {
    background: rgb(17, 16, 16);
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.add-subgoal-button:hover {
    background: #34495e;
    color: #fff;
}

.subgoal-popup,
.task-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}


.subgoal-popup-content {
    height: 200px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.task-popup-content {
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-edit-comments {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}
.popup-edit-subgoals {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}
.popup-add-new-comment {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

.popup-content {
    height: 200px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.subgoal-close,
.task-close,
.close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    background-color: red;
}

.subgoal-message,
.task-message {
    font-weight: bolder;
    font-size: x-large;
}

.ct-chart {
    position: relative;
}
.ct-legend {
    position: relative;
    bottom: 20px;
    z-index: 10;
    list-style: none;
    text-align: center;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}

.ct-chart-line-multipleseries .ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}

.ct-chart-line-multipleseries .ct-legend .ct-series-1:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}

.ct-chart-line-multipleseries .ct-legend li.inactive:before {
    background: transparent;
}
/* .container {
    border: 1px dashed red;
} */

/* .btn-small {
    border: 1px dashed green;
} */

/* .fred {
    border: 1px dashed yellow;
} */

.mary {
    display: flex;
    justify-content: space-between;
}

.peter {
    display: flex;
}

.robert {
    align-self: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/assets/background2.jpg"); 
}