
  
  
  <h2>Add a goal</h2>
  <form class="goal-form">
    <div class="form-group">
      <label for="goa" class="blue-text">New Goal Name:</label>
      <input type="text" id="goa" name="name">
    </div>

    <button type="submit" class="add-goal-btn btn-floating btn-small waves-effect waves-light red" id="{{{dataValues.id}}}"><i class="material-icons">add</i></button>
  </form>