
  
  
  <h2>Add a goal</h2>
  <form class="goal-form">
    <div class="form-group">
      <label for="goa">New Goal Name:</label>
      <input type="text" id="goa" name="name">
    </div>

    <button type="submit" class="add-goal-btn waves-effect waves-purple btn-medium" id="{{{dataValues.id}}}">Add Goal</button>
  </form>